<footer class="rounded-lg shadow-lg m-4 bg-black/50 dark:bg-black/80 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center">
    <div class="w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between">
        <span class="text-sm text-center text-gray-400 dark:text-gray-400 text-opacity-90">
            © 2024 <a href="https://github.com/AquilesPopovich" class="hover:text-white-500">Aquiles Popovich</a>. Todos los derechos reservados
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0">
            <li>
                <a href="#presentacion" class="hover:text-yellow-400 me-4 md:me-6">Inicio</a>
            </li>
            <li>
                <a href="mailto:popovichaquiles@gmail.com" class="hover:text-yellow-400">Contactame</a>
            </li>
        </ul>
    </div>
</footer>
