<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row ">
        <a href="#experience" class="text-white hover:text-yellow-400 hover:bg-white/10 hover:border-b-2 hover:border-white/500 hover:rounded-md flex justify-center items-center gap-x-2 py-2 px-4 transition-all duration-500">Experiencia</a>
        <a href="#projects" class="text-white hover:text-yellow-400 hover:bg-white/10 hover:border-b-2 hover:border-white/500 hover:rounded-md flex justify-center items-center gap-x-2 py-2 px-4 transition-all duration-500">Proyectos</a>
        <a href="mailto:popovichaquiles@gmail.com" class="text-white hover:text-yellow-400 hover:bg-white/10 hover:border-b-2 hover:border-white/500 hover:rounded-md flex justify-center items-center gap-x-2 py-2 px-4 transition-all duration-500">Contacto</a>
        <a href="#tecnologias" class="text-white hover:text-yellow-400 hover:bg-white/10 hover:border-b-2 hover:border-white/500 hover:rounded-md flex justify-center items-center gap-x-2 py-2 px-4 transition-all duration-500">Tecnologías</a>
    </nav>
</header>
