<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="rounded-full border border-white/10 flex justify-center items-center gax-x-2 py-2 px-4 bg-white/5 hover:scale-110 hover:bg-white/10 transition"
>
  <slot />
</a>