---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex justify-center items-center overflow-x-hidden">
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] "></div>
		<div class="relative z-[1] w-full max-w-screen"></div>
			<Header/>
			<slot />
		</div>
	</body>
	
	

</html>
<style is:global>
	:root {
		color-scheme: ligth dark;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body{
		background: #050505;
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
	}

	
	
</style>
